/* ---------- GOOGLE FONTS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;900&family=Poppins:wght@400;500&display=swap');

/* ---------- VARIABLES ---------- */
:root {
  /* ---------- COLORS ----------  */
  --white-color: #FFFFFF;
  --text-color: #000000;
  --light-blue: #4169E1; 
  --dark-blue: #000A27;
  --yellow-color: #FFC30F;

  /* ---------- FONTS & TYPOGRAPHY ----------  */
  /* 0.5rem = 8px | 1rem = 16px ... */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.65rem;
  --section-title: 3.5rem;
  --h1-font-size: 3rem;
  --h2-font-size: 1.8rem;
  --link-font-size: 1.2rem;
  --btn-font-size: 1.2rem;
  --description-size: 1.1rem;
  --h3-font-size: 1.05rem;
  --normal-size: 1rem;
}

/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 880px) {
  :root {
    --biggest-font-size: 1.9rem;
  }
}
@media only screen and (max-width: 580px) {
  :root {
    --biggest-font-size: 1.2rem;
    --h2-font-size: 1.35rem;
    --h3-font-size: 0.8rem;
    --section-title: 3rem;
    --btn-font-size: 0.95rem;
    --normal-size: 0.85rem;
    --link-font-size: 1.3rem;
    --description-size: 1rem;
  }
}
@media only screen and (max-width: 320px) {
  :root {
    --biggest-font-size: 0.9rem;
    --h2-font-size: 1rem;
    --h3-font-size: 0.65rem;
    --normal-size: 0.7rem;
    --btn-font-size: 0.8rem;
    --description-size: 0.9rem;
    --section-title: 2.8rem;

  }
}

/* ---------- BASE ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
  -webkit-scroll-behavior: smooth !important;
  -moz-scroll-behavior: smooth !important;
}
body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
button,
input {
  outline: none;
  border: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} 
.container {
  max-width: 1250px;
  margin-inline: 4rem;
}
.section {
  display: flex;
  justify-content: center;
}
.main {
  overflow: hidden; /* For animation ScrollReveal */
}
/* ---------- SCROLL BAR ---------- */
::-webkit-scrollbar {
  width: 0.8rem;
  background: #BBCAFC;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--light-blue);
}

/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 1150px) {
  .container {
    margin-inline: 0.7rem;
  }
}

/* ---------- HEADER ---------- */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: var(--white-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
nav.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.nav .logo {
  padding: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;
}
img.logo-img {
  width: 270px;
  padding-bottom: 2px;
}
nav.nav .nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav.nav .nav-links .link {
  position: relative;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--link-font-size);
  font-weight: 500;
  padding: 0.5rem 0.2rem;
}
nav.nav .nav-links .link::after {
  content: '';
  position: absolute;
  left: 0.2rem;
  bottom: 0.5rem;
  width: 0%;
  height: 2px;
  background: var(--text-color);
  transition: width 0.2s linear;
}
nav.nav .nav-links .link:hover:after {
  width: 94%;
}
.active-link::after {
  width: 94%;
}
nav.nav .nav-links .link.contact-link {
  color: var(--white-color);
  background: var(--light-blue);
  border-radius: 10px;
  transition: transform 0.2s linear;
  padding: 0.5rem 1.25rem;
}
nav.nav .nav-links .link.contact-link:hover {
  transform: scale(1.05);
}
nav.nav .nav-links .link.contact-link::after {
  display: none;
}
/* ----- LANGUAGES ----- */
.lang-content {
  margin-left: -10px;
}
.lang-content a img {
  transition: transform 0.2s linear;
}
.lang-content a img:hover {
  transform: scale(1.1);
}
#burger-menu {
  display: none;
  padding-top: 2px;
  cursor: pointer;
}
#burger-menu .line1,
#burger-menu .line2,
#burger-menu .line3 {
  width: 25px;
  height: 3px;
  background: var(--text-color);
  transition: transform 0.3s linear;
  margin: 5px;
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 880px) {
  nav.nav .nav-links {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 100vh;
    background: transparent;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For Safari */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s ease-in;
    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.5);
    gap: 1rem;
  }
  nav.nav .nav-links.nav-active {
    transform: translateX(0);
  }
  nav.nav .nav-links a {
    opacity: 0;
  }
  #burger-menu {
    display: inline;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px );
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px );
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } 
  /* ----- LANGUAGES ----- */
  .lang-content {
    display: flex;
    margin-left: 0;
  }
  .lang-content a {
    margin: 0.4rem;
  }
  .lang-content a img {
    width: 30px;
  }
}
@media only screen and (max-width: 580px) {
  header.header {
    height: 3.7rem;
  }
  img.logo-img {
    width: 250px;
    padding-bottom: 0;
  }
  nav.nav .nav-links {
    width: 70%;
    gap: 0.5rem;
    padding-bottom: 3rem;
  }
}
@media only screen and (max-width: 370px) {
  img.logo-img {
    width: 200px;
  }
  nav.nav .nav-links {
    width: 100%;
  }
}
  
/* ---------- HOME ---------- */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-block: 12rem;
}
.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, 
              rgba(235,233,234, 1) 40%, 
              rgba(255, 255, 255, 0) 55%);
  background: -webkit-linear-gradient(top, 
                  rgba(235,233,234, 1) 40%, 
              rgba(255, 255, 255, 0) 55%); /* Pro Safari */
}
.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 2rem;
}
.home-data {
  width: 100%;
  text-align: initial;
}
.home-title {
  color: var(--text-color);
  font-size: var(--biggest-font-size);
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 7rem 0 4rem 0;
}
.home-box-containers {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.home-box-container {
  width: 470px;
  background: var(--white-color);
  border-radius: 20px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
  padding: 34px;
}
.home-box-container h2 {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  font-weight: bold;
}
.home-box-container h3 {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 1rem;
}
.home-place-and-size-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-place-and-size-inputs input,
.home-email-input input {
  width: 100%;
  height: 50px;
  color: var(--text-color);
  background: #F1F1F1;
  font-size: var(--normal-size);
  font-family: var(--body-font);
  font-weight: 500;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  transition: transform 0.2s linear;
  padding: 20px 0 20px 10px;
  margin-bottom: 1.5rem;
}
.home-place-and-size-inputs input#place {
  width: 65%;
}
.home-place-and-size-inputs input#size {
  width: 30%;
}
button.home-btn-send {
  width: 100%;
  height: 50px;
  font-size: var(--btn-font-size);
  color: var(--white-color);
  background: var(--light-blue);
  border-radius: 12px;
  transition: transform 0.2s linear;
  cursor: pointer;
}
.home-place-and-size-inputs input#place:hover,
.home-place-and-size-inputs input#size:hover,
.home-email-input input:hover,
.home-btn-send:hover {
  transform: scale(1.03);
}
.stars-container {
  width: 300px;
  height: 200px;
  color: var(--text-color);
  background: var(--white-color);
  border-radius: 20px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s linear;
  padding: 24px;
  cursor: pointer;
}
.stars-container:hover {
  transform: scale(1.03);
}
.stars-container h2 {
  height: 35px;
  display: flex;
  align-items: center;
  font-size: var(--h2-font-size);
  font-weight: bold;
}
.stars-container h2 i {
  font-size: 20px;
  padding: 1px;
}
.stars-container h2 .fa-plus {
  margin-left: 3px;
}
.stars-container h3 {
  font-size: var(--h3-font-size);
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.stars-container .stars-container-price {
  width: fit-content;
  font-size: var(--h3-font-size);
  font-weight: bold;
  color: var(--light-blue);
  background: #E0E9FA;
  border-radius: 12px;
  padding: 0.5rem 1.1rem;
}
.stars-container .row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transform: translateY(-15px);
}
.stars-container .row h3 {
  margin: 0;
}
.stars-container .row .stars {
  position: relative;
  width: 55px;
  height: 50px;
  font-size: 21px;
  color: var(--yellow-color);
}
.stars .up {
  position: absolute;
  top: 0;
  right: 46%;
  opacity: 35%;
  transform: translateX(40%);
}
.stars .left {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 5px;
}
.stars .right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 5px;
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 880px) {
  .home-title {
    text-align: center;
    margin: 7rem 0 2rem 0;
  }
  .home-box-containers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .home-box-container {
    width: 520px;
  }
  .stars-container {
    width: 350px;
    height: 200px;
  }
  .stars-container .row .stars {
    font-size: 22px;
  }
}
@media only screen and (max-width: 580px) {
  .home-title {
    text-align: center;
    margin: 7rem 0 1.2rem 0;
  }
  .home-box-containers {
    gap: 1rem;
  }
  .home-box-container {
    width: 100%;
    padding: 26px;
  }
  .home-box-container h3 {
    margin-bottom: 0.5rem;
  }
  .home-place-and-size-inputs input,
  .home-email-input input {
    height: 30px;
    border-radius: 10px;
    padding: 18px 0 18px 10px;
    margin-bottom: 0.7rem;
  }
  .home-place-and-size-inputs input#place {
    width: 67%;
  }
  button.home-btn-send {
    height: 45px;
    border-radius: 10px;
  }
  .stars-container {
    width: 80%;
    height: 170px;
    padding: 20px;
  }
  .stars-container .row {
    transform: translateY(-20px);
  }
} 
@media only screen and (max-width: 320px) {
  .home-box-container {
    padding: 24px;
  }
  .home-place-and-size-inputs input,
  .home-email-input input {
    height: 25px;
    padding: 16px 0 16px 10px;
    margin-bottom: 0.5rem;
  }
  button.home-btn-send {
    height: 40px;
  }
  .stars-container {
    height: 150px;
    padding: 16px;
  }
  .stars-container h2 i {
    font-size: 16px;
  }
  .stars-container .row {
    transform: translateY(-25px);
  }
  .stars-container .row .stars {
    font-size: 20px;
  }
}

/* ---------- ABOUT US ---------- */
.about {
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  padding: 3.5rem 0;
}
.about-container {
  position: relative;
}
.shadow-text {
  position: absolute;
  top: -30px;
  right: 50%;
  font-size: 7rem;
  font-family: 'Montserrat';
  font-weight: bolder;
  color: rgba(158, 158, 158, 0.1);
  transform: translateX(50%);
}
.section-title-about-us {
  text-align: center;
  font-size: var(--section-title);
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 1rem;
}
.about-description {
  text-align: center;
  font-size: var(--description-size);
  color: var(--white-color);
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 580px) {
  .about {
    padding: 4rem 0;
  }
  .shadow-text {
    top: -16px;
    font-size: 5rem;
  }
}

/* ---------- PROCESS ---------- */
.process {
  width: 100%;
  height: 100%;
  padding: 5rem 0 6rem 0;
}
.process-container {
  width: 100%;
  position: relative;
}
.process-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title-process {
  text-align: center;
  font-size: var(--section-title);
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}
.process-description {
  max-width: 970px;
  text-align: center;
  font-size: calc(var(--description-size) + 0.1rem);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 2.5rem;
}
.cards-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  gap: 6rem;
}
.card-process {
  width: 350px;
  height: 270px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: transform 0.2s linear;
  padding: 1rem;
}
.card-process:hover {
  transform: scale(1.03);
}
.card-process img {
  width: 120px;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin: 1rem 0 1.2rem 0;
}
.card-process h2 {
  font-size: calc(var(--h2-font-size) - 0.3rem);
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.card-process p {
  width: 280px;
  font-size: var(--description-size);
  font-weight: 500;
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 1380px) {
  .cards-process {
    gap: 3rem;
  }
}
@media only screen and (max-width: 580px) {
  .process {
    padding: 4rem 0 4rem 0;
  }
  .section-title-process {
    font-size: calc(var(--section-title) - 0.5rem);
    margin-bottom: 1rem;
  }
  .process-description {
    width: 100%;
    font-size: calc(var(--description-size));
    margin-bottom: 2rem;
  }
  .cards-process {
    gap: 1.2rem;
  }
  .card-process {
    width: 95%;
    height: 250px;
    padding: 1rem;
  }
  .card-process h2 {
    font-size: calc(var(--h2-font-size));
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .section-title-process {
    font-size: calc(var(--section-title) - 1rem);
    margin-bottom: 1rem;
  }
  .card-process {
    height: 210px;
  }
  .card-process img {
    width: 90px;
  }
}

/* ---------- SPONSORS ---------- */
.sponsors {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--light-blue);
}
.sponsors-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sponsors-container img {
  width: 180px;
  aspect-ratio: 3/2;
  object-fit: contain;
  padding: 24px;
}
/* ---------- RESPONSIVE DESIGN ---------- */
@media only screen and (max-width: 1150px) {
  .sponsors-container {
    gap: 1rem;
  }
}
@media only screen and (max-width: 880px) {
  .sponsors-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    gap: 0.5rem;
  }
  .sponsors-container img {
    width: 180px;
    padding: 18px;
  }
}